@page
@model OAuthv2.Views.Auth.IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script> *@
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="\img\admin_icon.png" />
    <title>Trang đăng nhập - NDCC</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div id="blockUI">
                <div id="retangle">
                    <div id="loader"></div>
                    <p id="blockUIContent">Vui lòng chờ</p>
                </div>
            </div>
            <div class="signin-signup">
                <form class="sign-in-form" method="post">
                    <h2 class="title">Đăng nhập</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input id="login_inp_usr" type="text" minlength="8" maxlength="15" placeholder="Tên đăng nhập" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="login_inp_pass" type="password" minlength="8" maxlength="255" placeholder="Nhập mật khẩu" />
                    </div>
                    <div class="login-forget">
                        <a href="/forgetpassword/" class="btn solid">Quên mật khẩu?</a>
                        <input id="sign-in-btn" type="submit" name="submit" value="Đăng nhập" class="btn solid" />
                    </div>
                    @* <p class="social-text">Đăng nhập bằng tài khoản mạng xã hội</p> *@
                    @* <div class="social-media"> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-facebook-f"></i> *@
                    @*     </a> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-twitter"></i> *@
                    @*     </a> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-google"></i> *@
                    @*     </a> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-linkedin-in"></i> *@
                    @*     </a> *@
                    @* </div> *@
                </form>
                <div id="notification">
                    <div class="title"></div>
                    <div class="message"></div>
                </div>
                <form class="sign-up-form" method="post">
                    <h2 class="title">Đăng ký</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input id="signup_inp_usr" type="text" placeholder="Tên đăng nhập (Trên 8 kí tự)" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input id="signup_inp_pass" type="password" placeholder="Mật khẩu" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-paperclip"></i>
                        <input id="signup_inp_hovaten" type="text" placeholder="Họ và Tên" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input id="signup_inp_email" type="email" placeholder="Email" />
                    </div>
                    <input id="sign-up-btn" type="submit" class="btn" value="Đăng ký" />
                    @* <p class="social-text">Đăng ký bằng tài khoản mạng xã hội</p> *@
                    @* <div class="social-media"> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-facebook-f"></i> *@
                    @*     </a> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-twitter"></i> *@
                    @*     </a> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-google"></i> *@
                    @*     </a> *@
                    @*     <a href="#" class="social-icon"> *@
                    @*         <i class="fab fa-linkedin-in"></i> *@
                    @*     </a> *@
                    @* </div> *@
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Lần đầu đến đây?</h3>
                    <p>Bấm vào nút Đăng ký để đăng ký tài khoản</p>
                    <button class="btn transparent" id="sign-up-mode">Đăng ký</button>
                </div>
                <img src="img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Đã có tài khoản?</h3>
                    <p>Bấm nút Đăng nhập để chuyển về trang Đăng nhập</p>
                    <button class="btn transparent" id="sign-in-mode">Đăng nhập</button>
                </div>
                <img src="img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>